
html{
        display: table;
        margin: auto;
	}

	body {
  		min-height: 100%;
        min-width: 100%;
	}
      .container {
        width: 800px;
        clear: both;
    }
     .container input {
        width: 100%;
        clear: both;
    }

    body {
        display: table-cell;
        vertical-align: middle;
	}
    form {
       display:inline;
       margin:0;
       padding:0;
	}
