<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static  "css/bootstrap.min.css" %}">
      <link rel="stylesheet" href="{% static  "css/bootstrap.min.css" %}">  
      <link rel="stylesheet" href="{% static  "css/align.css" %}">  
      <script src="{% static  "js/bootsrap.min.js" %}"></script>
      <script src="{% static "js/jquery.min.js" %}"></script>
    </head>

    <body>
        <br/><br/><br/>
        <p align="center"><strong> Click on below image to visit URL shortner service</strong></p>
       <a href="https://g2tg5yow.apps.lair.io/url_shortner/"> <img src = "{% static "images/url.jpg" %}" alt="Webiste Logo" /> </a>
    </body>

</html>
